Repository AOSSIE-Org/DebateAI, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, frontend, backend

.github/labeler.yml:

docs:
- changed-files:
  - any-glob-to-any-file: '*.md'

frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**/*'
  - any-glob-to-any-file: 'frontend/**/*.js'
  - any-glob-to-any-file: 'frontend/**/*.ts'
  - any-glob-to-any-file: 'frontend/**/*.tsx'
  - any-glob-to-any-file: 'frontend/**/*.jsx'
  - any-glob-to-any-file: 'frontend/**/*.css'
  - any-glob-to-any-file: 'frontend/**/*.html'

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'
    - any-glob-to-any-file: 'backend/**/*.go'
    - any-glob-to-any-file: 'backend/**/*.py'

Add MIT License and update README with comprehensive licensing information
  LICENSE
  README.md
Labels: docs

Add Loading States for Tournament Data in TournamentHub and TournamentBracketPage
  frontend/index.html
  frontend/src/Pages/TournamentBracketPage.tsx
  frontend/src/Pages/TournamentHub.tsx
  frontend/src/index.css
Labels: frontend

Add Comprehensive Error Handling and User Feedback in profileService.ts
  frontend/src/Pages/Profile.tsx
  frontend/src/services/profileService.ts
Labels: frontend

docs(config): add config.example.yml with correct top-level gemini/jwt/smtp
  backend/config/config.example.yml
Labels: backend

Missing .env.example file , that causing trobule in setup
  backend/.env.example
Labels: backend

Missing .env.example file , that causing trobule in setup
  backend/.env.example
Labels: backend

Implement Global & Route-Level React Error Boundaries
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary/DebateRoomWrapper.tsx
  frontend/src/components/ErrorBoundary/ErrorFallback.tsx
  frontend/src/components/ErrorBoundary/GlobalErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/RouteErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/index.ts
  frontend/src/components/ErrorBoundary/useErrorBoundary.ts
  frontend/tailwind.config.js
Labels: frontend

Implement Global & Route-Level React Error Boundaries
  backend/websocket/matchmaking.go
  backend/websocket/websocket.go
  frontend/src/App.tsx
  frontend/src/Pages/About.tsx
  frontend/src/Pages/DebateRoom.tsx
  frontend/src/Pages/Game.tsx
  frontend/src/Pages/MatchLogs.tsx
  frontend/src/Pages/OnlineDebateRoom.tsx
  frontend/src/Pages/StartDebate.tsx
  frontend/src/Pages/TournamentHub.tsx
  frontend/src/components/ChatRoom.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/Matchmaking.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/SpeechTranscripts.tsx
  frontend/tsconfig.app.tsbuildinfo
Labels: frontend, backend

Added team debate
  backend/cmd/server/main.go
  backend/controllers/profile_controller.go
  backend/controllers/team_controller.go
  backend/controllers/team_debate_controller.go
  backend/controllers/team_matchmaking.go
  backend/db/db.go
  backend/middlewares/auth.go
  backend/models/team.go
  backend/routes/team.go
  backend/services/team_matchmaking.go
  backend/services/team_turn_service.go
  backend/websocket/matchmaking.go
  backend/websocket/team_debate_handler.go
  backend/websocket/team_websocket.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Pages/TeamBuilder.tsx
  frontend/src/Pages/TeamDebateRoom.tsx
  frontend/src/components/MatchmakingPool.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/TeamChatSidebar.tsx
  frontend/src/components/TeamMatchmaking.tsx
  frontend/src/hooks/useUser.ts
  frontend/src/services/teamDebateService.ts
  frontend/src/services/teamService.ts
  frontend/tsconfig.app.tsbuildinfo
Labels: frontend, backend

Missing .env.example file , that causing trobule in setup
  backend/.env.example
Labels: backend

Refactor WebSocket and transcript handling
  backend/cmd/server/main.go
  backend/cmd/server/ws_debate_handler.go
  backend/controllers/transcript_controller.go
  backend/services/ai.go
  backend/websocket/matchmaking.go
  backend/websocket/team_websocket.go
  backend/websocket/websocket.go
  frontend/src/Pages/OnlineDebateRoom.tsx
Labels: frontend, backend

Implement Global & Route-Level React Error Boundaries
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary/DebateRoomWrapper.tsx
  frontend/src/components/ErrorBoundary/ErrorFallback.tsx
  frontend/src/components/ErrorBoundary/GlobalErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/RouteErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/index.ts
  frontend/src/components/ErrorBoundary/useErrorBoundary.ts
  frontend/tailwind.config.js
Labels: frontend

coderabbit reviews
  backend/cmd/test_judge/main.go
  backend/controllers/team_debate_controller.go
  backend/controllers/team_matchmaking.go
  backend/internal/debate/poll_store.go
  backend/middlewares/auth.go
  backend/models/team.go
  backend/routes/pros_cons_route copy.go
  backend/routes/rooms.go
  backend/services/debatevsbot.go
  backend/services/matchmaking.go
  backend/services/team_matchmaking.go
  backend/services/transcriptservice.go
  backend/utils/auth.go
  backend/websocket/websocket.go
  frontend/src/Pages/DebateRoom.tsx
  frontend/src/Pages/Game.tsx
  frontend/src/Pages/MatchLogs.tsx
  frontend/src/Pages/OnlineDebateRoom.tsx
  frontend/src/Pages/TeamBuilder.tsx
  frontend/src/Pages/TeamDebateRoom.tsx
  frontend/src/Pages/ViewDebate.tsx
  frontend/src/atoms/debateAtoms.ts
  frontend/src/components/ChatRoom.tsx
  frontend/src/components/Chatbox.tsx
  frontend/src/components/Matchmaking.tsx
  frontend/src/components/ReactionBar.tsx
  frontend/src/components/TeamChatSidebar.tsx
  frontend/src/components/TeamMatchmaking.tsx
  frontend/src/hooks/useDebateWS.ts
  frontend/src/hooks/useUser.ts
  frontend/src/services/teamDebateService.ts
  frontend/src/services/teamService.ts
  frontend/src/utils/speechTest.ts
  frontend/tsconfig.app.tsbuildinfo
Labels: frontend, backend

Missing .env.example file , that causing trobule in setup
  backend/.env.example
Labels: backend

Fix TypeScript errors: Remove unused React imports
  frontend/src/Pages/TournamentBracketPage.tsx
  frontend/src/Pages/TournamentHub.tsx
  frontend/tsconfig.app.tsbuildinfo
Labels: frontend

Fix useErrorBoundary async return value and Tailwind config module issues
  frontend/src/components/ErrorBoundary/useErrorBoundary.ts
  frontend/tailwind.config.cjs
Labels: frontend

Implement full Error Boundary system
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/ErrorFallback.tsx
  frontend/src/components/ErrorBoundary/ErrorLogger.ts
  frontend/src/components/ErrorBoundary/RouteErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/index.ts
  frontend/src/components/ErrorBoundary/types.ts
  frontend/src/components/ErrorBoundary/withErrorBoundary.tsx
  frontend/src/main.tsx
  frontend/tsconfig.app.tsbuildinfo
  frontend/tsconfig.node.tsbuildinfo
Labels: frontend
